#panel {
  background-color: transparent !important;
  height: 28px;
  margin: 3px;
}

.panel-button,
.panel-button .clock {
  border: 1px solid st-transparentize($bg_color, 1) !important;
  background-color: $bg_color !important;
}

#dash .dash-background {
  background-color: $bg_color;
}
